<link rel="stylesheet" href="~/css/Productos/Productos.css" />
<h1>Productos</h1>
<button class="btn btn-primary m-3" onclick="GuardarProducto()">Agregar Producto</button>

<table id="productos" class="table table-striped" style="width:100%"></table>

<div id="productosAddPartial"></div>

<script src="~/js/Productos/Productos.js"></script>