<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-bootstrap/dist/css/dataTables.bootstrap5.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-dataTable/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-bootstrap/dist/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/sweetalert/sweetalert2.min.js"></script>
    <script src="~/js/Utils/Utils.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/f8fcaa487b.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" asp-controller="Home" asp-action="Index">
                    <span class="align-middle">Curso EducacionIt 22/03/2023</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Paginas
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                            <i class="align-middle" data-feather="home"></i> <span class="align-middle">Inicio</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Usuarios" asp-action="Usuarios">
                            <i class="align-middle" data-feather="users"></i> <span class="align-middle">Usuarios</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Roles" asp-action="Roles">
                            <i class="align-middle" data-feather="github"></i> <span class="align-middle">Roles</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Productos" asp-action="Productos">
                            <i class="align-middle" data-feather="archive"></i> <span class="align-middle">Productos</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Servicios" asp-action="Servicios">
                            <i class="align-middle" data-feather="server"></i> <span class="align-middle">Servicios</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Chat" asp-action="Chat">
                            <i class="align-middle" data-feather="message-square"></i> <span class="align-middle">Chat</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" asp-controller="Login" asp-action="CerrarSesion">
                            <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>
</body>
</html>
